{
  "jsxSingleQuote": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@portal-hq(.*)$",
    "^@(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
